<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Michael Schumacher">
    <meta name="description" content="Simple website for posting pictures for the event">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Custom theme to apply our own coloring -->
    <link rel="stylesheet" href="static/css/theme.css">
</head>

<body>
<div class="p-3 m-0 border-0 m-0 border-0">
    <h1>Request Access</h1>
    <hr>
    <p>Oopsies. You need to scan the QR Code to get access to this site.
    If you're still seeing this webpage, bother the maintainer.</p>
</div>

</body>
